<%= form_for @user do |f| %>
	<div>
	  <%= f.label :name %>
	  <%= f.text_field :name %>
	</div>
  <div>
    <%= f.label :profile %>
    <%= f.text_area :profile %>
  </div>
	<div>
	  <%= f.label :social %>
	  <%= f.text_field :social %>
	</div>
	<div>
	  <%= f.label :country %>
	  <%= f.text_field :country %>
	</div>
	<div>
		<%= f.label :city %>
	  <%= f.text_field :city %>
	</div>
	<div>
	  <%= f.label :picture %>
	  <%= f.file_field :picture %>
	</div>

  <%= f.submit %>
<% end %>