<div class="container-user">
	<h2>Profile</h2> 
	<div class= "user_picture" >
		<%= image_tag @user.picture.url%>
	</div>

	<div>
		<h3>Name</h3>
		<p><%= @user.name %></p>
	</div>
	<div>
		<h3>About me</h3>
		<p><%= @user.profile %></p>
	</div>
	<div>
		<h3>Country</h3>
		<p><%= @user.country %></p>
	</div>
</div>
<div class="container_user_pics">
	<h3>My dressing</h3>
	<div>
		<% @user.clothes.each do |clothe| %>
			<a href="/clothes/6"><%= image_tag clothe.picture.url %></a><br />
			<p><%= clothe.clothe_type %>, <%= clothe.label %></p>
		<% end %>
	</div>
</div>