<div>
	<%= image_tag @clothe.picture.url %>
</div>
<div>
	<%= @clothe.clothe_type %>
</div>
<div>
	<%= @clothe.color %>
</div>
<div>
	<%= @clothe.size %>
</div>
<div>
	<%= @clothe.date %>
</div>
<div>
	<%= @clothe.instruction %>
</div>
<div>
	<%= @clothe.label %>
</div>
<div>
	<%= @clothe.story %>
</div>
<div>
	<% @clothe.locations.each do |location| %>
		<%= location.country %> : <%= location.city %> 
	<% end %>
</div>
<div>
	<% @clothe.compositions.each do |composition| %>
		<%= composition.material.name %>
	<% end %>
</div>
<div>
	<% @clothe.modifications.each do |modification| %>
		<%= modification.description %>
	<% end %>
</div>
