<div class="clothe_profile">
	<h3>Profile</h3>
</div>
<div class="container-clothe">

	<div class= "clothe_picture" >
		<%= image_tag @clothe.picture.url%>
	</div>


	<div>
		<h3>Type</h3>
		<p><%= @clothe.clothe_type %></p>
	</div>
	<div>
		<h3>Color</h3>
		<p><%= @clothe.color %></p>
	</div>
	<div>
		<h3>Size</h3>
		<p><%= @clothe.size %></p>
	</div>
	<div>
		<h3>Date</h3>
		<p><%= @clothe.date %></p>
	</div>
	<div>
		<h3>Instruction</h3>
		<p><%= @clothe.instruction %></p>
	</div>
	<div>
		<h3>Label</h3>
		<p><%= @clothe.label %></p>
	</div>
	<div>
		<h3>Story</h3>
		<p><%= @clothe.story %></p>
	</div>
	<div>
		<h3>Made in</h3>
		<% @clothe.locations.each do |location| %>
			<p><%= location.country %> <%= location.city %> </p>
		<% end %>
	</div>
	<div>
		<h3>Composition</h3>
		<ul>
			<% @clothe.compositions.each do |composition| %>
				<li><%= composition.material.name %> : <%= composition.quantity * 100 %> %</li>
			<% end %>
		</ul>
	</div>

</div>
<div class="clothe_profile">
	<h3>Caretakers</h3>
</div>
<div class="container_clothe_pics">
	
	<div class="col2 un">
		<a href="/users/<%= @clothe.user.id %>"><%= image_tag User.find(2).clothes[0].picture.url %></a><br />
	</div>
	<div class="col2 deux">
		<% #@clothe.modifications[0] do |modification| %>
			<div>
				<%= @clothe.modifications[0].description %><br /><br/>
				<p style="font-weight:700"><%= @clothe.user.name %></p>
			</div>
		<% #end %>
	</div>
	<div class="col2 un">
		<a href="/users/3"><%= image_tag User.find(3).clothes[0].picture.url %></a><br/>
	</div>
	<div class="col2 deux">
		<p>I bought this shirt in a shop, it's like all the shirts I wear for their style. I decided to take off the sleeves to do something different and have a cooler shirt for summer. Thanks to the next person for taking care of this t-shirt !</p><br/>
		<p style="font-weight:700">Zacharia Attik</p>
	</div>
	<div class="col2 un">
		<a href="/users/4"><%= image_tag User.find(4).clothes[0].picture.url %></a><br/>
	</div>
	<div class="col2 deux">
		<p>I found this shirt at Guerrisol which I always go to for material for my design projects. I saw this shirt already had a history and the last person had taken off the sleeves, so I decided to transform it again into a cute crop top for the summer with fringe. I turned the sleeves into a cute bow tie. It's a cute shirt but I'm moving and have to get rid of clothes ! So sorry to part with it but hope the next person likes wearing it and it has some new adventures !!</p><br/>
		<p style="font-weight:700">Ginny Blocher</p>
	</div>
</div>