<div class="container-clothe">

	<div class= "clothe_picture" >
		<%= image_tag @clothe.picture.url%>
	</div>

	<div>
		<%= @clothe.code %>
	</div>
	<div>
		<h3>Type</h3>
		<p><%= @clothe.clothe_type %></p>
	</div>
	<div>
		<h3>Color</h3>
		<p><%= @clothe.color %></p>
	</div>
	<div>
		<h3>Size</h3>
		<p><%= @clothe.size %></p>
	</div>
	<div>
		<h3>Date</h3>
		<p><%= @clothe.date %></p>
	</div>
	<div>
		<h3>Instruction</h3>
		<p><%= @clothe.instruction %></p>
	</div>
	<div>
		<h3>Label</h3>
		<p><%= @clothe.label %></p>
	</div>
	<div>
		<h3>Story</h3>
		<p><%= @clothe.story %></p>
	</div>
	<div>
		<h3>Made in</h3>
		<% @clothe.locations.each do |location| %>
			<p><%= location.country %> <%= location.city %> </p>
		<% end %>
	</div>
	<div>
		<h3>Composition</h3>
		<ul>
			<% @clothe.compositions.each do |composition| %>
				<li><%= composition.material.name %> : <%= composition.quantity * 100 %> %</li>
			<% end %>
		</ul>
	</div>

</div>
<div class="container_clothe_pics">
	<h3>Care takers</h3>
	<div class="col2 un">
		<a href="/users/<%= @clothe.user.id %>"><%= image_tag @clothe.user.picture.url %></a><br />
	</div>
	<div class="col2 deux">
		<% @clothe.modifications.each do |modification| %>
			<div>
				<%= modification.description %><br />
				<p><%= @clothe.user.name %></p>
			</div>
		<% end %>
	</div>
		<a href="/users/3"><%= image_tag User.find(3).picture.url %></a><br/>
		<p>Zacharia Attik</p>
	</div>
</div>