<div>
	<%= @clothe.clothe_type %>
</div>
<div>
	<%= @clothe.size %>
</div>
<div>
	<%= @clothe.date %>
</div>
<div>
	<%= @clothe.instruction %>
</div>
<div>
	<%= @clothe.label %>
</div>
<div>
	<%= @clothe.story %>
</div>
<div>
	<%= @clothe.location_id %>
</div>
<div>
	<%= @clothe.composition_id %>
</div>
<div>
	<%= @clothe.history_id %>
</div>
<div>
	<%= image_tag @clothe.picture.url %>
</div>